@charset "UTF-8";

@font-face {
  font-family: 'InputMono';
  src: url("../fonts/InputMono-Regular.eot");
  src: local("☺"), url("../fonts/InputMono-Regular.woff") format("woff"), url("../fonts/InputMono-Regular.ttf") format("truetype"), url("../fonts/InputMono-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InputMono';
  src: url("../fonts/InputMono-Bold.eot");
  src: local("☺"), url("../fonts/InputMono-Bold.woff") format("woff"), url("../fonts/InputMono-Bold.ttf") format("truetype"), url("../fonts/InputMono-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.28em;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Roboto", "Arial", sans-serif;
  min-width: 320px;
  background-color: #f5f5f5;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0 0 20px 0;
  margin: 0;
}

h1 {
  font-size: 2.57143rem;
  font-family: "Arial";
  font-weight: normal;
  letter-spacing: 3.6px;
  margin: 0;
  padding: 0 0 86px 46px;
  position: relative;
  color: #000;
}

h1:before {
  content: "/";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  border: 2px solid #000;
  padding: 18px 10px;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #393939;
  font-family: "InputMono";
  font-weight: 400;
  position: relative;
  overflow: hidden;
  z-index: 0;
  -webkit-transition: color .2s ease-out, border-color .3s ease-out,background .3s ease-out 0s, opacity .2s ease-out .2s;
  -o-transition: color .2s ease-out, border-color .3s ease-out,background .3s ease-out 0s, opacity .2s ease-out .2s;
  transition: color .2s ease-out, border-color .3s ease-out,background .3s ease-out 0s, opacity .2s ease-out .2s;
}

.button:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width: 600px;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: translate3d(0, 100%, 0) rotate(10deg);
  transform: translate3d(0, 100%, 0) rotate(10deg);
  background-color: #000;
}

.button.active {
  background-color: #000;
  color: #fff;
}

.button:hover {
  color: #fff;
}

.button:hover:after {
  -webkit-animation: upw_buttonInnerShadow .3s forwards ease-in;
  animation: upw_buttonInnerShadow .3s forwards ease-in;
}

@-webkit-keyframes upw_buttonInnerShadow {
  50% {
    -webkit-transform: translate3d(0, 50%, 0) rotate(10deg);
    transform: translate3d(0, 50%, 0) rotate(10deg);
  }

  to {
    -webkit-transform: translateZ(0) rotate(0deg);
    transform: translateZ(0) rotate(0deg);
  }
}

@keyframes upw_buttonInnerShadow {
  50% {
    -webkit-transform: translate3d(0, 50%, 0) rotate(10deg);
    transform: translate3d(0, 50%, 0) rotate(10deg);
  }

  to {
    -webkit-transform: translateZ(0) rotate(0deg);
    transform: translateZ(0) rotate(0deg);
  }
}

a.button:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: 0 none;
  padding: 0;
}

.arrow {
  width: 6px;
  height: 4px;
}

.arrow span {
  border: 4px solid transparent;
  border-top: 6px solid #000;
}

input {
  border: 0 none;
  padding: 7px;
}

.top-bar,
.bottom-bar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99999;
  margin: auto;
  height: 30px;
  background-color: #f5f5f5;
  color: #999;
  padding: 0 30px;
}

.top-bar span,
.bottom-bar span {
  line-height: 30px;
  font-size: 10px;
  font-family: "InputMono", serif;
}

.bottom-bar {
  bottom: 0;
}

.bottom-bar span {
  float: right;
}

.wrapper {
  padding: 30px;
}

.app {
  min-height: calc(100vh - 160px);
  height: 100%;
  margin-top: 100px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.judge-index .app {
  background: #ffd200;
}

/** main-content **/

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main-content > .aside {
  width: 33%;
  background-image: url("../img/aside01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.main-content > .aside:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #000;
  background: rgba(0, 0, 0, 0.63);
}

.main-content > .info {
  width: 68%;
  padding: 0;
}

body:not(.judge-index) .main-content > .aside {
  display: none;
}

body:not(.judge-index) .main-content > .info {
  width: 100%;
}

/* info */

.info__body {
  padding: 83px 11%;
  color: #434343;
}

.info__text {
  margin: 0 auto;
  width: 61%;
}

.info__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 0 0 0;
}

.info__buttons .button {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 49%;
  flex: 0 1 49%;
  margin-bottom: 10px;
}

.info__header {
  height: 80px;
  background-color: #212121;
  padding: 0 5px 0 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body:not(.judge-index) .info__body {
  padding: 0;
  color: #434343;
}

.timer {
  position: relative;
}

.timer__num {
  color: #fff;
}

.timer__text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.78571rem;
}

.timer .progress {
  min-width: auto;
}

.timer .arrow {
  display: none;
  position: absolute;
  top: 26px;
  right: -18px;
}

.timer .arrow span {
  border-top: 6px solid rgba(255, 255, 255, 0.5);
}

.icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.icons__item {
  padding: 7px;
  margin: 0 5px;
  position: relative;
}

.icons__note {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0.71429rem;
  font-family: "Roboto";
  cursor: pointer;
}

.icons__note:hover ~ .icons__link {
  background: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.icons__note:hover ~ .icons__link .opacity {
  opacity: 1;
}

.icons__link {
  display: block;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background: #fff;
  background: rgba(255, 255, 255, 0.04);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icons__link .opacity {
  opacity: 0.5;
}

.icons__link .fill {
  fill: #fff;
}

.icons__link:hover {
  background: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.icons__link:hover .opacity {
  opacity: 1;
}

.icons__link.active {
  background: #fff;
  background: white;
  fill: #000000;
}

.icons__link.active .opacity {
  opacity: 1;
}

.icons__link.active .fill {
  fill: #000;
}

.icons__item.active .icons__link {
  background: #fff;
  background: white;
  fill: #000000;
}

.icons__item.active .icons__link:hover {
  background: #fff;
  background: white;
  fill: #000000;
}

.icons__item.active .icons__link:hover .opacity {
  opacity: 1;
}

.icons__item.active .icons__link:hover .fill {
  fill: #000;
}

.icons__item.active .icons__link .opacity {
  opacity: 1;
}

.icons__item.active .icons__link .fill {
  fill: #000;
}

.icons__item.notify {
  background-color: #000;
}

.icons__item.notify .icons__link {
  background: #fff;
  background: rgba(255, 255, 255, 0);
  fill: #000000;
}

.icons__item.notify .icons__link:hover {
  background: #fff;
  background: rgba(255, 255, 255, 0);
  fill: #000000;
}

.icons__item.notify .icons__link:hover .opacity {
  opacity: 1;
}

.icons__item.notify .icons__link:hover .fill {
  fill: #ffd200;
}

.icons__item.notify .icons__link .opacity {
  opacity: 1;
}

.icons__item.notify .icons__link .fill {
  fill: #ffd200;
}

.navbar {
  position: fixed;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  padding: 0 29px;
  min-width: 320px;
  z-index: 100;
}

.nav {
  height: 100px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.nav__menu {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
}

.nav__item {
  margin: 0 5px;
}

.nav__link {
  text-transform: uppercase;
  font-size: 0.78571rem;
  letter-spacing: 1.1px;
  font-weight: bold;
  font-family: "InputMono";
  white-space: nowrap;
  padding: 0 13px;
  background: #fff;
  display: block;
  height: 31px;
  line-height: 31px;
  position: relative;
  z-index: 2;
}

.nav__cell {
  padding: 2px;
  position: relative;
  overflow: hidden;
  color: inherit;
  display: inline-block;
}

.nav__cell:after,
.nav__cell:before {
  -webkit-transition: opacity, .5s ease-out .3s;
  -o-transition: opacity, .5s ease-out .3s;
  transition: opacity, .5s ease-out .3s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  height: 35px;
  width: 35px;
  content: "";
  background: #ffd200;
  z-index: 1;
}

.nav__cell:before {
  right: -35px;
  top: -35px;
}

.nav__cell:after {
  left: -35px;
  bottom: -35px;
}

.nav__cell.active:before {
  top: 0;
  right: -28px;
}

.nav__cell.active:after {
  bottom: 0;
  left: -28px;
}

.nav__logo {
  -ms-flex-preferred-size: 230px;
  flex-basis: 230px;
  display: inline-block;
  text-align: center;
  margin-top: -6px;
}

.nav__img {
  width: 160px;
}

.nav__img_mob {
  display: none;
}

.nav__user {
  -ms-flex-preferred-size: 140px;
  flex-basis: 140px;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #393939;
  font-size: 0.71429rem;
}

.nav__user:hover {
  color: #ffd200;
}

.nav__avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url(/img/avatar.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 3px;
}

.nav__icon {
  display: none;
  position: absolute;
  right: 34px;
  top: 24px;
  z-index: 201;
}

.nav__menu li:hover .nav__cell:before {
  -webkit-animation: animateLinkBefore .8s ease-out .15s forwards;
  animation: animateLinkBefore .8s ease-out .15s forwards;
}

.nav__menu li:hover .nav__cell:after {
  -webkit-animation: animateLinkAfter .8s ease-out .15s forwards;
  animation: animateLinkAfter .8s ease-out .15s forwards;
}

@-webkit-keyframes animateLinkBefore {
  0% {
    height: 35px;
    top: -33px;
    right: 100%;
    width: 10px;
    bottom: auto;
  }

  50% {
    top: -33px;
    right: -33px;
    width: 35px;
  }

  75% {
    top: 0;
    right: -33px;
  }

  to {
    top: 0;
    right: -28px;
  }
}

@keyframes animateLinkBefore {
  0% {
    height: 35px;
    top: -33px;
    right: 100%;
    width: 10px;
    bottom: auto;
  }

  50% {
    top: -33px;
    right: -33px;
    width: 35px;
  }

  75% {
    top: 0;
    right: -33px;
  }

  to {
    top: 0;
    right: -28px;
  }
}

@-webkit-keyframes animateLinkAfter {
  0% {
    height: 35px;
    width: 10px;
    bottom: -33px;
    left: 100%;
    top: auto;
  }

  50% {
    width: 35px;
    bottom: -33px;
    left: -33px;
  }

  75% {
    bottom: 0;
    left: -33px;
  }

  to {
    bottom: 0;
    left: -28px;
  }
}

@keyframes animateLinkAfter {
  0% {
    height: 35px;
    width: 10px;
    bottom: -33px;
    left: 100%;
    top: auto;
  }

  50% {
    width: 35px;
    bottom: -33px;
    left: -33px;
  }

  75% {
    bottom: 0;
    left: -33px;
  }

  to {
    bottom: 0;
    left: -28px;
  }
}

/* toggle menu */

.toggle_menu {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toggle_menu.active {
  background-color: transparent;
  border: none;
}

.toggle_menu span {
  display: block;
}

.sandwich {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200;
  float: left;
}

.sw-topper {
  position: relative;
  top: 0;
  width: 24px;
  height: 2px;
  background: #000;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  display: block;
}

.sw-bottom {
  position: relative;
  width: 24px;
  height: 2px;
  top: 4.6px;
  background: #000;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
  -o-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.sw-footer {
  position: relative;
  width: 24px;
  height: 2px;
  top: 9.5px;
  background: #000;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.sandwich.active .sw-topper {
  top: 7px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #000;
}

.sandwich.active .sw-bottom {
  top: 5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #000;
}

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background: #000;
}

.table-block {
  width: 100%;
  overflow: scroll;
  position: relative;
}

.save {
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 10;
}

.save img {
  width: 56px;
}

.table {
  font-size: 1rem;
}

.table th,
.table td {
  padding: 12px 25px;
  color: rgba(155, 155, 155, 0.5);
  position: relative;
  min-width: 150px;
  vertical-align: center;
}

.table th {
  white-space: nowrap;
  text-align: left;
  color: black;
}

.table th[scope=row] {
  font-weight: normal;
  min-width: 280px;
  padding-right: 30px;
}

.table th[scope=row]:hover .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table tr.rated th,
.table tr.rated td {
  background: #EBF6FF;
}

.table.table-bordered td,
.table.table-bordered th {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid rgba(151, 151, 151, 0.3);
  border-right: 1px solid rgba(151, 151, 151, 0.3);
}

.table.table-bordered th {
  border-bottom: 0 none;
}

.table thead {
  position: -webkit-sticky;
  position: sticky;
}

.table.table-bordered td.summary,
.table.table-bordered th.summary {
  border-left: 2px solid #434343;
}

.td__cell {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.td__cell .empty {
  color: rgba(155, 155, 155, 0.5);
  font-size: 1rem;
}

.faq {
  float: right;
}

.comment {
  display: none;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  float: right;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: 7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url(../img/notify.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  text-align: center;
  color: white;
  align-items: center;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: 0 none;
}

.comment:hover {
  background-color: rgba(255, 210, 0, 0.2);
  background-image: url(../img/notify-a.svg);
  color: white;
}

.comment.has-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/notify-a.svg);
  color: #ffd200;
}

.rating__num {
  display: block;
  font-weight: 700;
  color: black;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20px;
  flex: 0 1 20px;
  width: 20px;
  text-align: left;
}

.rating__arrow {
  display: block;
  text-align: right;
  padding-top: 3px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25px;
  flex: 0 1 25px;
  width: 25px;
}

.rating__progress {
  float: left;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.modal {
  font-size: 1rem;
  font-family: "Arial";
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal .close {
  font-size: 36px;
  font-weight: normal;
  color: black;
  opacity: 1;
}

.modal-dialog {
  max-width: 760px;
}

.modal-content {
  margin: 0 30px;
  border-radius: 10px;
}

.modal-header,
.modal-footer {
  border: 0 none;
}

.modal-header {
  padding: 25px 30px 15px 30px;
}

.modal-footer {
  padding: 40px 30px 25px 30px;
}

.modal-body {
  padding: 15px 30px 0 30px;
}

.modal-title {
  font-size: 1.71429rem;
  letter-spacing: 3.6px;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-footer .button {
  width: 48%;
  font-family: "Arial";
}

.modal .small-text {
  padding-bottom: 35px;
}

.tooltip .tooltip-inner {
  background-color: #979797;
  font-size: 0.78571rem;
}

.tooltip .arrow:before {
  border-bottom-color: #979797;
}

.progress {
  background: #D8D8D8;
  background: rgba(216, 216, 216, 0.26);
  border-radius: 2px;
  height: 4px;
  margin: 5px 0;
  width: 100px;
}

.progress .progress-bar {
  background-color: #D8D8D8;
  border-radius: 2px;
}

.progress.full .progress-bar {
  background-color: #ffd200;
}

.popover {
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
  border: 0 none;
}

.popover .rating__num {
  text-align: center;
}

.bs-popover-auto[x-placement^=bottom] .arrow::before,
.bs-popover-bottom .arrow::before {
  border-bottom-color: transparent;
}

.comment__list {
  border-bottom: 1px solid #D6D6D6;
  margin-bottom: 7px;
}

.comment__item {
  padding: 7px;
  padding-right: 20px;
  position: relative;
}

.comment__item:hover {
  background: rgba(155, 155, 155, 0.11079);
}

.comment__item span {
  position: absolute;
  right: 7px;
  top: 7px;
  cursor: pointer;
}

.custom-range {
  width: 100%;
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 13px;
}

.custom-range:focus {
  outline: 0;
}

.custom-range::-moz-focus-outer {
  border: 1px solid red;
}

.custom-range::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  margin-top: -4px;
  background-color: #ffd200;
  border: 0;
  border-radius: 50%;
  -webkit-appearance: none;
  appearance: none;
}

.custom-range::-webkit-slider-thumb:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-range::-webkit-slider-thumb:active {
  background-color: #ffd200;
}

.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  color: transparent;
  cursor: pointer;
  background-color: #D8D8D8;
  border-color: transparent;
}

.custom-range::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background-color: #ffd200;
  border: 0;
  border-radius: 1rem;
  -moz-appearance: none;
  appearance: none;
}

.custom-range::-moz-range-thumb:focus {
  outline: 0;
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-range::-moz-range-thumb:active {
  background-color: #ffd200;
}

.custom-range::-moz-range-track {
  width: 100%;
  height: .5rem;
  color: transparent;
  cursor: pointer;
  background-color: #ffd200;
  border-color: transparent;
  border-radius: 1rem;
}

.custom-range::-ms-thumb {
  width: 1rem;
  height: 1rem;
  background-color: #ffd200;
  border: 0;
  border-radius: 1rem;
  appearance: none;
}

.custom-range::-ms-thumb:focus {
  outline: 0;
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-range::-ms-thumb:active {
  background-color: #ffd200;
}

.custom-range::-ms-track {
  width: 100%;
  height: .5rem;
  color: transparent;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  border-width: .5rem;
}

.custom-range::-ms-fill-lower {
  background-color: #ffd200;
  border-radius: 1rem;
}

.custom-range::-ms-fill-upper {
  margin-right: 15px;
  background-color: #ffd200;
  border-radius: 1rem;
}

@media only screen and (max-width: 1400px) {
  .info__text {
    width: 65%;
  }
}

@media screen and (max-width: 1279px) {
  h1 {
    padding: 0 0 65px 46px;
  }
}

@media only screen and (max-width: 1279px) {
  .info__buttons .button {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 49%;
    flex: 0 1 49%;
  }

  .info__header {
    height: 60px;
    padding: 0 0 0 10px;
  }

  .info__body {
    padding: 65px 9%;
  }

  .info__text {
    width: 85%;
  }
}

@media only screen and (max-width: 1200px) {
  .nav__menu {
    margin-left: 10px;
  }

  .nav__item {
    margin: 0 5px;
  }

  .nav__link {
    padding: 0 8px;
  }

  .nav__logo {
    -ms-flex-preferred-size: 160px;
    flex-basis: 160px;
  }

  .nav__user {
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .nav__item {
    margin: 0 2px;
  }

  .nav__link {
    padding: 0 5px;
    font-size: 0.71429rem;
  }

  .nav__logo {
    -ms-flex-preferred-size: 140px;
    flex-basis: 140px;
  }

  .nav__user {
    -ms-flex-preferred-size: 80px;
    flex-basis: 80px;
  }
}

@media screen and (max-width: 839px) {
  h1 {
    font-size: 1.71429rem;
    padding: 0 0 45px 46px;
  }

  .top-bar,
  .bottom-bar {
    height: 20px;
  }

  .top-bar span,
  .bottom-bar span {
    line-height: 20px;
  }

  .wrapper {
    padding: 20px;
    top: 20px;
  }

  .app {
    margin-top: 50px;
    min-height: calc(100vh - 90px);
  }

  .main-content > .aside {
    display: none;
  }

  .main-content > .info {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .info__buttons .button {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .info__header {
    height: 50px;
  }

  .info__body {
    padding: 50px 5%;
  }

  .info__text {
    width: 83%;
  }

  .timer__num {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.78571rem;
  }

  .timer__text {
    display: none;
  }

  .timer__progress {
    background: #D8D8D8;
    background: rgba(216, 216, 216, 0.26);
    border-radius: 2px;
    height: 4px;
    margin: 7px 0;
  }

  .timer__progress .progress-bar {
    background-color: #D8D8D8;
    border-radius: 2px;
  }

  .timer .arrow {
    display: block;
  }

  .icons__item {
    padding: 7px 0;
    margin: 0 2px;
  }

  .icons__link {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (max-width: 839px) {
  .navbar {
    padding: 0 19px;
    top: 20px;
  }

  .nav {
    height: 50px;
    padding-left: 5px;
    padding-right: 45px;
  }

  .nav__menu {
    height: 0;
    overflow: hidden;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin-left: 0;
  }

  .nav__menu.active {
    height: auto;
  }

  .nav__item {
    margin: 10px 2px;
  }

  .nav__link {
    padding: 0 10px;
    font-size: 0.78571rem;
  }

  .nav .nav__logo {
    -ms-flex-preferred-size: 188px;
    flex-basis: 188px;
  }

  .nav__img {
    display: none;
  }

  .nav__img {
    width: 188px;
  }

  .nav__img_mob {
    display: block;
  }

  .nav__user {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding: 0 10px;
  }

  .nav__name {
    display: none;
  }

  .nav__avatar {
    height: 41px;
    width: 41px;
    border-radius: 10px;
    margin-bottom: 0;
  }

  .nav__icon {
    display: block;
  }

  .modal {
    margin-left: 20px;
    margin-right: 20px;
  }

  .modal-footer .button {
    width: 100%;
    margin-bottom: 10px;
  }

  .modal-footer > :not(:last-child) {
    margin-right: 0;
  }

  .modal-header {
    padding: 25px 30px 10px 30px;
  }

  .modal-footer {
    padding: 30px 30px 25px 30px;
  }

  .modal-body {
    padding: 10px 30px 0 30px;
  }

  .modal .small-text {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 599px) {
  h1 {
    font-size: 1.71429rem;
    padding-left: 0;
  }

  h1:before {
    display: none;
  }
}

@media only screen and (max-width: 599px) {
  .info__body {
    padding: 50px 3%;
  }

  .info__text {
    width: 100%;
  }

  .icons__item {
    padding: 0;
    margin: 0 2px;
  }

  .modal-content {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 359px) {
  .nav .nav__logo {
    -ms-flex-preferred-size: 160px;
    flex-basis: 160px;
  }
}