$mainFont : 'Roboto';
$textFont : 'Arial';
$monoFont : 'InputMono';
$bgColor : #fff;
$textColor : #000;
$innerTextColor : #434343;
$btnColor : #393939;
$headerColor: #212121;
$bodyColor : #f5f5f5;
$toneColor : #ffd200;
